<div class="row">
  <h4> Download Sample CSV files </h4>

  <a href="<%= request.base_url %>/download/customer.csv" download="customer.csv">
    <span class="btn btn-xs btn-info"><i class="glyphicon glyphicon-download"></i>Customer</span>
  </a>
  <a href="<%= request.base_url %>/download/contact.csv" download="contact.csv">
    <span class="btn btn-xs btn-info"><i class="glyphicon glyphicon-download"></i>Contact</span>
  </a>
  <a href="<%= request.base_url %>/download/project.csv" download="project.csv">
    <span class="btn btn-xs btn-info"><i class="glyphicon glyphicon-download"></i>Project</span>
  </a>
</div>
