<%= form_tag '/customers/upload', multipart: true, :class => "form" do %>
    <h2>
      <small>Upload Customer</small>
    </h2>
    <div class="form-group">
      <%= file_field_tag 'file', :accept => 'text/csv', :multiple => false %>
    </div>
    <%= button_tag(type: "submit", class: "btn btn-xs btn-info") do %>
        <i class="glyphicon glyphicon-upload"></i> Upload
    <% end %>
<% end %>
