<h3>Welcome, if you are a 1st time visitor, please request further information here:</h3>
<p><%= link_to "Request Information", new_request_info_path, :class => "btn btn-primary btn-sm" %></p>

<h3> or Log in here:</h3>
<p><%= link_to "Log In", user_session_path, :class => "btn btn-primary btn-sm" %></p>