<div class="row">
  <h3> Upload CSV files </h3>

  <div class="col-sm-4"><%= render partial: 'customers/upload' %></div>
  <div class="col-sm-4"><%= render partial: 'contacts/upload' %></div>
  <div class="col-sm-4"><%= render partial: 'projects/upload' %></div>
</div>

<%= render partial: "shared/download_files" %>